# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Spring Boot
.springBeans

# Mac
.DS_Store

# Java
*.class
*.log
hs_err_pid*

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Application properties with sensitive data
src/main/resources/application-local.properties
src/main/resources/application-local.yml
